@import '../../styles/vars';

.row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    height: min-content;
    padding: 1vh;
    justify-content: space-around;
    &:hover {
        transition: 0.5s;
        background-color: $accent2;
    }
}

.word {
    color: $text;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.edit {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.nohover {
    &:hover {
        background-color: $bg;
    }
}
