@import './vars';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}

.App {
    text-align: center;
    background-color: $bg;
}

.WordList {
    height: 50vh;
}
