@import './vars';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}

.App {
    text-align: center;
    background-color: $bg;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}
