@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}
$font: 'Roboto';

$bg: #f8b195;
$accent1: #f67280;
$accent2: #c06c84;
$shadow: #6c5b7b;
$text: #355c7d;

$mobile: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;
